@model ConsumeAPI.Models.Lendet

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Lendet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LendetId" class="control-label"></label>
                <input asp-for="LendetId" class="form-control" readonly />
                <span asp-validation-for="LendetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmriLendes" class="control-label"></label>
                <input asp-for="EmriLendes" class="form-control" />
                <span asp-validation-for="EmriLendes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Semestri" class="control-label"></label>
                <input asp-for="Semestri" class="form-control" />
                <span asp-validation-for="Semestri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrejtimiId" class="control-label"></label>
                <select asp-for="DrejtimiId" class="form-control"
                        asp-items="ViewBag.DrejtimiId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

